<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-warehouse-device-admin" version="1.0.0"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

  <name>Warehouse Device Admin</name>
  <description>Device admin + kiosk mode plugin</description>
  <license>MIT</license>
  <keywords>cordova,deviceadmin,kiosk</keywords>

  <js-module src="www/WarehouseDeviceAdminPlugin.js" name="WarehouseDeviceAdminPlugin">
    <clobbers target="WarehouseDeviceAdminPlugin" />
  </js-module>

  <platform name="android">
    <source-file src="src/android/WarehouseDeviceAdminReceiver.java" target-dir="src/com/perfectress/warehouse" />
    <source-file src="src/android/WarehouseDeviceAdminPlugin.java" target-dir="src/com/perfectress/warehouse" />

    <resource-file src="src/android/res/xml/device_admin.xml" target="res/xml/device_admin.xml" />

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <receiver android:name="com.perfectress.warehouse.WarehouseDeviceAdminReceiver"
                android:label="@string/app_name"
                android:permission="android.permission.BIND_DEVICE_ADMIN">
        <meta-data android:name="android.app.device_admin"
                   android:resource="@xml/device_admin" />
        <intent-filter>
          <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
        </intent-filter>
      </receiver>
    </config-file>
  </platform>

</plugin>
